/* .button {
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.primary {
    background-color: blue;
    color: aqua;
}

.secondary {
    background-color:rgb(128, 128, 128);
    color: aqua;
}

.secondary2 {
    background-color:rgb(255, 143, 143);
    color: rgb(0, 0, 0);
} */

.button {
    width: 100px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(
      to right,
      #9eefe1 0%,
      #4830f0 51%,
      #9eefe1 100%
    );
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    border: 0px;
  }
  
  .button:hover {
    background-position: right center;
    /* width: 372px;
    height: 69px; */
    background: #007bff;
    border: 4px solid #0077f7;
    border-radius: 200px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    /* font-size: 25px;
    line-height: 29px; */
    letter-spacing: 0.05em;
    color: #ffffff;
  }