.button {
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.primary {
    background-color: blue;
    color: aqua;
}

.secondary {
    background-color:rgb(128, 128, 128);
    color: aqua;
}

.secondary2 {
    background-color:rgb(255, 143, 143);
    color: rgb(0, 0, 0);
}
