.navBar {
    width: 100%;
    max-height: 298px;
    background-color: #016efc;
    margin-bottom: 63px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainMenu {
    width: 1569px;
    height: 100%;
    display: flex;
    padding-left: 234px;
  }
  
  .menu {
    display: flex;
    padding: 58px 0 71px;
  }
  
  .closeButton {
    cursor: pointer;
    width: 33px;
    height: 33px;
  } 
  
  .close {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .menu ul {
    padding: 0;
    margin: 0 0 0 82px;
    list-style-type: none;
    text-align: left;
  }
  
  .menu ul li:not(:last-of-type) {
    margin-bottom: 22px;
  }
  
  .menu a {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: white;
    text-decoration: none;
  }
  
  a.activeLink {
    text-decoration: underline;
  }