.input{
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10 px;
    border: 1px solid #cecece;
    background: #f6f6f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.input.hover {
    border: 1px solid rgb(107, 50, 214);
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}
.input:focus{
    outline: 1px solid rgb(107, 50, 214);
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}