* {
    box-sizing: border-box;
  }
  .InputTitle {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #254050;
    margin-bottom: 14px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;
  }
  .margin {
    margin-bottom: 23px;
  }